.search-form {
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 220px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffca28;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #ffc107;
  }
  